@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
$BackgroundColor: #f0f8e3;

#portfolio{
  background: $BackgroundColor;
  padding-top: 2rem;

  .project-desc{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    min-width: 400px;
  }
}
