@import url('https://fonts.googleapis.com/css2?family=Anton&family=Concert+One&display=swap');
$Titlefont: 'Anton', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

article{
  position: absolute;
  left: 90px;
  
  h2 {
    font-family: $Titlefont;
    text-align: left;
    z-index: 2;
    color: #4e5a98;
    margin-right: 50vw;
    font-size: 7rem;
    font-weight: 700;
    text-shadow: 5px 5px 0px #485389;
    // margin-top: -15vh;
  }

  p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
  }

  button{
    padding: 15px 50px;
    border: none;
    background: #f4d35e
  }

}


.parallax-wrap {
  position: relative;
  background-image: url('../../../public/assets/img/home-grid.png');
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;



  img{
    width: 100%;
    height: 100%;
  }
}
.parallax-wrap div {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.parallax-wrap div {
  top: 70%;
  left: 90%;
  height: 40px;
  width: 40px;
  z-index: 3;
}

.parallax-wrap div:nth-child(2) {
  top: 30%;
  left: 80%;
  height: 60px;
  width: 60px;
  z-index: 3;
}
.parallax-wrap div:nth-child(3) {
  top: 15%;
  left: 60%;
  z-index: 3;
}
.parallax-wrap div:nth-child(4) {
  top: 50%;
  left: 70%;
  z-index: 3;
}
.parallax-wrap div:nth-child(5) {
  top: 90%;
  left: 20%;
  z-index: 3;
}

.parallax-wrap div:nth-child(6) {
  top: 5%;
  left: 1%;
  z-index: 3;
}
.parallax-wrap div:nth-child(7) {
  top: 0%;
  left: 30%;
  z-index: 3;
}
.parallax-wrap div:nth-child(8) {
  top: 40%;
  left: -5%;
  z-index: 3;
}