@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
$BackgroundColor: '#f0f8e3';
$Titlefont: 'Anton', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;

  --detail-primary: #7e3de7;
  --detail-secondary: #7161ef;
  --detail-tertiary: #957fef;
  --detail-quanternary: #b79ced;
  --detail-quinary: #dec0f1;
  /*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
  */
}

.content {
  display: flex;
  align-content: center;
  justify-content: center;
}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  //color: transparent;
  //background-color: white;
  //background-clip: text;
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }
  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }
  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }
  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }
  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }
  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }
  40% {
    transform: translate(-12px, -12px);
  }
  50% {
    transform: translate(-12px, -12px);
  }
  60% {
    transform: translate(-12px, -12px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

p.details{
  font-family: bungee, sans-serif;
  color: #7e3de7;
  text-shadow: 3px 3px 0 var(--detail-quinary), 6px 6px 0 var(--detail-quanternary);
    // 12px 12px 0 var(--detail-quinary)
  font-size: 2rem;
  display: block;
}

#home article{
  // position: absolute;
  // left: 90px;
  
  h2 {
    font-family: $Titlefont;
    text-align: center;
    z-index: 2;
    color: #4e5a98;
    margin-right: 50vw;
    font-size: 7rem;
    font-weight: 800;
    // text-shadow: 5px 5px 0px #485389;
    // margin-top: -15vh;
  }

  button{
    padding: 15px 50px;
    border: none;
    background: #f4d35e
  }

}


.parallax-wrap {
  position: relative;
  background: #f0f8e3;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;



  img{
    width: 100%;
    height: 100%;
  }
}
.parallax-wrap div {
  position: absolute;
  height: 30px;
  width: 30px;
  border-radius: 100%;
}

.parallax-wrap div {
  top: 70%;
  left: 90%;
  height: 40px;
  width: 40px;
  z-index: 3;
}

.parallax-wrap div:nth-child(2) {
  top: 30%;
  left: 80%;
  height: 60px;
  width: 60px;
  z-index: 3;
}
.parallax-wrap div:nth-child(3) {
  top: 15%;
  left: 60%;
  z-index: 3;
}
.parallax-wrap div:nth-child(4) {
  top: 50%;
  left: 70%;
  z-index: 3;
}
.parallax-wrap div:nth-child(5) {
  top: 90%;
  left: 20%;
  z-index: 3;
}

.parallax-wrap div:nth-child(6) {
  top: 5%;
  left: 1%;
  z-index: 3;
}
.parallax-wrap div:nth-child(7) {
  top: 0%;
  left: 30%;
  z-index: 3;
}
.parallax-wrap div:nth-child(8) {
  top: 40%;
  left: -5%;
  z-index: 3;
}