@import url('https://fonts.googleapis.com/css2?family=Bungee&display=swap');
$BackgroundColor: #f0f8e3;
$Titlefont: 'Anton', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --color-primary: #f6aca2;
  --color-secondary: #f49b90;
  --color-tertiary: #f28b7d;
  --color-quaternary: #f07a6a;
  --color-quinary: #ee6352;

  --detail-primary: #7e3de7;
  --detail-secondary: #7161ef;
  --detail-tertiary: #957fef;
  --detail-quanternary: #b79ced;
  --detail-quinary: #dec0f1;
  /*
  --color-primary: #5192ED;
  --color-secondary: #69A1F0;
  --color-tertiary: #7EAEF2;
  --color-quaternary: #90BAF5;
  --color-quinary: #A2C4F5;
  */
}

#home {
  height: 100vh;
  width: 100vw;
  background-color: $BackgroundColor;
}

.content {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;

  p.details {
    font-family: bungee, sans-serif;
    color: #7e3de7;
    text-shadow: 3px 3px 0 var(--detail-quinary), 6px 6px 0 var(--detail-quanternary);
    // 12px 12px 0 var(--detail-quinary)
    font-size: 2rem;
    display: block;
    z-index: 4;
    text-align: center;
  }
}

.text_shadows {
  text-shadow: 3px 3px 0 var(--color-secondary), 6px 6px 0 var(--color-tertiary),
    9px 9px var(--color-quaternary), 12px 12px 0 var(--color-quinary);
  font-family: bungee, sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  font-size: calc(2rem + 5vw);
  text-align: center;
  margin: 0;
  color: var(--color-primary);
  z-index: 4;
  animation: shadows 1.2s ease-in infinite, move 1.2s ease-in infinite;
  letter-spacing: 0.4rem;
}

#skills {
  background: $BackgroundColor;
  position: relative;
  z-index: 4;
  text-align: center;
  height: 100vh;


  h2.details {
    font-family: bungee, sans-serif;
    color: #7e3de7;
    text-shadow: 3px 3px 0 var(--detail-quinary), 6px 6px 0 var(--detail-quanternary);
    // 12px 12px 0 var(--detail-quinary)
    font-size: 2rem;
    display: block;
    padding: 2rem;
    z-index: 4;
  }
}

.parallax-wrap div.parallax-img {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 100%;
}

@media (min-width: 1200px) {
  img {
    display: hidden;
  }
}

@media (min-width: 390px) {
  #body{
    height: 80vh;
    .text_shadows {
      font-size: calc(2rem + 5vw);
      margin: 1rem;
    }
    p.details{
      font-size: calc(0.5rem + 2vw);
    }
  }
}

@keyframes shadows {
  0% {
    text-shadow: none;
  }

  10% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }

  20% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }

  30% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }

  40% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }

  50% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }

  60% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary),
      12px 12px 0 var(--color-quinary);
  }

  70% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary), 9px 9px var(--color-quaternary);
  }

  80% {
    text-shadow: 3px 3px 0 var(--color-secondary),
      6px 6px 0 var(--color-tertiary);
  }

  90% {
    text-shadow: 3px 3px 0 var(--color-secondary);
  }

  100% {
    text-shadow: none;
  }
}

@keyframes move {
  0% {
    transform: translate(0px, 0px);
  }

  40% {
    transform: translate(-12px, -12px);
  }

  50% {
    transform: translate(-12px, -12px);
  }

  60% {
    transform: translate(-12px, -12px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}